.footer {
  margin-top: 13px;

  .footer-text {
    color: #c7c7c7;
    font-size: 12px;

    a {
      color: #c7c7c7;
      font-size: 12px;
    }
  }

  .footer-text-last {
    margin-top: 15px;
    color: #c7c7c7;
    font-size: 12px;
  }
}
