.side-story {
  display: flex;
  align-items: center;
  margin: 5px 15px 8px;

  img {
    width: 32px;
    height: 32px;
    border-radius: 50px;
  }

  .story-name {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-size: 14px;

    a {
      color: black;
      font-weight: bold;
    }

    span {
      width: 180px;
      color: #8e8e8e;
      font-size: 13px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
