.feeds {
  width: 614px;
  margin-top: 65px;
  margin-right: 320px;
  img {
    width: 100%;
  }
  .feeds-content {
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    margin-bottom: -40px;
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
    img {
      width: 16px;
      height: 16px;
    }
  }
  .my-box {
    display: flex;
    align-items: center;
    height: 60px;
    img {
      width: 32px;
      height: 32px;
      border-radius: 100%;
    }
  }
  .my-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    a {
      padding: 0px;
      margin-left: 10px;
      margin-bottom: 10px;
      color: black;
    }
  }
  p {
    padding: 0px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: black;
  }
  .my-info {
    a {
      height: 5px;
      font-size: 14px;
      font-weight: bold;
    }
    p {
      height: 0;
      font-size: 12px;
    }
  }
  .icon-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 14px;
    img {
      width: 24px;
    }
  }
  .icon-left {
    margin-right: 10px;
    button > img {
      margin: 0px 7px;
    }
  }
  .icon-right button > img {
    margin: 0px 5px;
  }
  .like-box {
    display: flex;
    align-items: center;
    margin: 0px 20px;
    margin-bottom: 3px;
    font-size: 14px;
    a {
      margin: 0;
      color: black;
      font-weight: bold;
    }
  }
  .user-poto {
    width: 24px;
    margin-right: 7px;
    border-radius: 100px;
  }
  .comment {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    font-size: 14px;
  }
  .my-name {
    color: black;
    font-weight: bold;
  }
  .more {
    color: #8e8e8e;
    font-weight: 400;
  }
  .comment-second {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  .yous {
    a {
      color: black;
      font-weight: bold;
    }
  }
  .comment-second img {
    width: 12px;
    height: 12px;
  }
  .empty-comment {
    display: flex;
    flex-direction: column;
  }
  .comment-time {
    margin-top: 10px;
    a {
      color: #8e8e8e;
      font-size: 10px;
    }
  }
  .comment-box {
    position: relative;
  }
  .comment-text {
    bottom: 0;
    width: 100%;
    height: 46px;
    margin-top: 10px;
    padding: 0px 16px;
    border: none;
    border-top: 1px solid rgb(219, 219, 219);
    &:focus {
      outline: none;
    }
  }
  .comment-box > button {
    position: absolute;
    bottom: 14px;
    right: 16px;
    padding: 0;
    color: #b9dffc;
    background-color: white;
    border: 0px;
    font-weight: bold;
  }
}
